{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Anotações</h2>
    <div class="d-flex justify-content-between">
        <!-- Editor 1 -->
        <div style="width: 48%; margin-top: 20px;">
            <div id="toolbar1"></div> <!-- Barra de ferramentas do Editor 1 -->
            <div id="editor1" style="height: 600px; border: 6px solid #ccc;"></div>
            <button class="btn btn-success mt-2" onclick="saveContent('editor1Content', quill1)">Salvar</button>
            <button class="btn btn-danger mt-2" onclick="clearContent('editor1Content', quill1)">Remove</button>
        </div>                     
        
        <!-- Editor 2 -->
        <div style="width: 48%; margin-top: 20px;">
            <div id="toolbar2"></div> <!-- Barra de ferramentas do Editor 2 -->
            <div id="editor2" style="height: 600px; border: 6px solid #ccc;"></div>
            <button class="btn btn-success mt-2" onclick="saveContent('editor2Content', quill2)">Salvar</button>
            <button class="btn btn-danger mt-2" onclick="clearContent('editor2Content', quill2)">Remove</button>
        </div>
    </div>   
</div>

<script>
    var quill1, quill2;

    document.addEventListener('DOMContentLoaded', function() {
        quill1 = new Quill('#editor1', {
            theme: 'snow',
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline', 'strike'],  
                    ['link', 'image'],                         
                    [{ 'size': ['small', false, 'large', 'huge'] }], 
                    [{ 'color': [] }, { 'background': [] }],   
                    [{ 'align': [] }],                         
                    ['clean']                                  
                ]
            }
        });

        quill2 = new Quill('#editor2', {
            theme: 'snow',
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline', 'strike'],
                    ['link', 'image'],
                    [{ 'size': ['small', false, 'large', 'huge'] }],
                    [{ 'color': [] }, { 'background': [] }],
                    [{ 'align': [] }],
                    ['clean']
                ]
            }
        });

        // Recuperar conteúdo salvo do Local Storage ao carregar a página
        loadContent('editor1Content', quill1);
        loadContent('editor2Content', quill2);
    });

    function saveContent(storageKey, quillInstance) {
        localStorage.setItem(storageKey, quillInstance.root.innerHTML);
        alert('Conteúdo salvo!');
    }

    function clearContent(storageKey, quillInstance) {
        var selection = quillInstance.getSelection(); // Obtém a seleção do usuário

        if (selection && selection.length > 0) {
            // Se houver seleção, remove apenas o conteúdo selecionado
            quillInstance.deleteText(selection.index, selection.length);
        } else {
            // Se nada estiver selecionado, remove tudo  
             quillInstance.root.innerHTML = "";
        }
        // Atualiza o Local Storage com o novo conteúdo do editor
        localStorage.setItem(storageKey, quillInstance.root.innerHTML);
    }


    function loadContent(storageKey, quillInstance) {
        var savedContent = localStorage.getItem(storageKey);
        if (savedContent) {
            quillInstance.root.innerHTML = savedContent;
        }
    }
</script>
{% endblock %}
